
<div>
    <h2 style="color: white">SEMENTES E GRÃOS ARMAZENADOS</h2>
    <hr color="white" size="1" width="80%" align="center" noshade>
    <nav>
        <a class="linkmenu" href={{ site.data.routes[0].route }}>HOME</a>
    </nav>
    <nav>
        <a class="linkmenu" href={{ site.data.routes[1].route }}>BLOG</a>
    </nav>
    <div style="padding-bottom: 5px;"></div>
    <button type="button" class="collapsiblemenu">PRODUÇÃO E TECNOLOGIA DE SEMENTES</button>
    <div class="contentmenu">
        <nav>
            <a href={{ site.data.routes[2].route }}>CRONOGRAMA</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[3].route }}>QUADRO DE PRESENÇAS</a>
        </nav> 
        <nav>
            <a href={{ site.data.routes[4].route }}>CONTEÚDO</a>
        </nav>
    </div>
    <div style="padding-bottom: 10px;"></div>
    <button type="button" class="collapsiblemenu">A CULTURA DO GIRASSOL</button>
    <div class="contentmenu">
        <nav>
            <a href={{ site.data.routes[2].route }}>CRONOGRAMA</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[3].route }}>QUADRO DE PRESENÇAS</a>
        </nav> 
        <nav>
            <a href={{ site.data.routes[4].route }}>CONTEÚDO</a>
        </nav>
    </div>
    <div style="padding-bottom: 10px;"></div>
    <button type="button" class="collapsiblemenu">A CULTURA DO AMENDOIM</button>
    <div class="contentmenu">
        <nav>
            <a href={{ site.data.routes[2].route }}>CRONOGRAMA</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[3].route }}>QUADRO DE PRESENÇAS</a>
        </nav> 
        <nav>
            <a href={{ site.data.routes[4].route }}>CONTEÚDO</a>
        </nav>
    </div>
    <div style="padding-bottom: 10px;"></div>
    <button type="button" class="collapsiblemenu">A CULTURA DO TRIGO</button>
    <div class="contentmenu">
        <nav>
            <a href={{ site.data.routes[2].route }}>CRONOGRAMA</a>
        </nav>
        <nav>
            <a href={{ site.data.routes[3].route }}>QUADRO DE PRESENÇAS</a>
        </nav> 
        <nav>
            <a href={{ site.data.routes[4].route }}>CONTEÚDO</a>
        </nav>
    </div>
    <hr color="white" size="1" width="80%" align="center" noshade>
    
</div>